// ---------------------------------------------------------------------------
// Imports
@import "compass/reset";
@import "compass";
@import "compass/layout";
@import "susy";
@import "fonts/fonts.css";

@import "base";
@import "layout";
@import "modules/overlay";
@import "modules/newsletter";
@import "modules/typography";
@import "modules/header";
@import "modules/footer";
@import "modules/social";
@import "modules/box-hp";
@import "modules/product-grid";
@import "modules/product-detail";
@import "modules/news";
@import "modules/about";
@import "modules/press";
@import "modules/filter";
@import "modules/video";
@import "modules/mobile-sidebar";
@import "modules/contacts";
@import "modules/accordion";
@import "modules/store-list";
@import "modules/pag-404";


/* -------------------------------------------------------------------------*/
/* Layout */
body{
  line-height:1.5em;
  font:{
    size:16px;
    family:$font-regular;
  }
}