@media (min-width: 810px) {
  #videoproducts {
    margin-top: -120px; } }

@media (min-width: 1119px) {
  #videoproducts {
    margin-top: -100px; } }

.videoproducts__videoWrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .videoproducts__videoWrap:after {
    content: " ";
    display: block;
    clear: both; }

.videoproducts__video {
  position: relative; }
  @media (min-width: 810px) {
    .videoproducts__video {
      width: 74.5762711864%;
      float: left;
      margin-right: 1.6949152542%;
      margin-left: 25.4237288136%; } }

.videoproducts__shop {
  text-align: right;
  padding: 15px 0; }
  .videoproducts__shop span {
    padding: 0px 15px; }
  @media (min-width: 810px) {
    .videoproducts__shop {
      padding: 30px 0; } }

.videoproducts__grid .product-grid .line .item.big .hover .text .number {
  font-size: 2em; }

.videoproducts__grid .product-grid .line .item.small .hover .text .number {
  font-size: 1.8em; }

@media (min-width: 810px) {
  .videoproducts__grid .item.small .second, .videoproducts__grid .item.small .forth {
    margin-right: 0 !important; } }

@media (min-width: 0) and (max-width: 810px) {
  .videoproducts__grid .item.small .line.js-last-child > a:first-child {
    margin-bottom: 1em !important; } }

@media (min-width: 0) and (max-width: 810px) {
  .videoproducts__grid .item.small .line.js-last-child > a:last-child {
    margin-bottom: 0em !important; } }
