.wrap-overlay{
  display:none;
  //display:block;
  width:100%;
  position:absolute;
  @include at-breakpoint($phone){
    position:fixed;
    height:100%!important;
  }
  top:0;
  left:0;
  bottom:0;
  background: url("../images/bg-overlay.png") 0 0 repeat;
  height:100%;
  z-index:99999999;
  overflow:auto;
  .overlay{
    position:fixed;
    background:#e9e8e3;
    padding:25px;
    top:100px;
    @include at-breakpoint($phone){
      top:0;
      position:relative;
    }
    left:50%;
    //display:none;
    &.small{
      width:375px;
      margin-left:-187px;
      @include at-breakpoint($phone){
        width:96%;
        margin-left:0;
        left:0;
        padding:2%;
      }
    }
    &.medium{
      width:500px;
      margin-left:-250px;
    }
    .title{
      color:$dark-color;
      font:{
        size:$f-28;
      }
    }
    .description{
      margin-top:1em;
      line-height:1.5em;
      font:{
        size:$f-13;
        style:normal;
      }
    }
    .close{
      position:absolute;
      top:0;
      right:0;
      background: $sprite-set;
      background-position: sprite-position($sprite-set, registrazione-close);
      width:47px;
      height:47px;
    }
  }
  .mobile &{
    position:absolute;
  }
}