.wrap-video{
  @include span-columns(12 omega, 12);
  @include at-breakpoint($tablet) {
    padding-top:70px;
  }
  .wrap-number{
    @include span-columns(3, 12);
    position:absolute;
    top:350px;
    text-align:right;
    display:none;
    @include at-breakpoint($tablet) {
      top:0;
      display:block;
      text-align:left;
      position:relative;
      margin:2em 0;
    }
    @include at-breakpoint($phone) {
      top:0;
      display:block;
      text-align:left;
      position:relative;
      margin:2em 0;
    }
    .number{
      position:relative;
      z-index:99;
      display:block;
      width:100%;
      line-height:0.7em;
      position:relative;
      font:{
        size:5em;//200px
      }
      @include at-breakpoint($tablet) {
        right:0;
        font:{
          size:12.5em;//200px
        }
      }
      @include at-breakpoint($phone) {
        right:0;
        font:{
          size:12.5em;//200px
        }
      }

    }
    .title-number{
      line-height: 1.2em;
      font-size: 2.75em;
      text-transform:uppercase;
      display:none;
      @include at-breakpoint($tablet) {
        display:block;
      }
      @include at-breakpoint($phone) {
        display:block;
      }
    }
  }
  .video-list{
    .item-video{
      margin-bottom:1em;
      > article{
        display:block;
        @include pie-clearfix;
        position:relative;
        .text{
          bottom:0;
          position:absolute;
          text-align:right;
          @include span-columns(3, 12);
          @include at-breakpoint($tablet) {
            @include span-columns(12, 12);
            position:relative;
            padding:0 0 1em;
            text-align:left;
          }
          @include at-breakpoint($phone) {
            @include span-columns(12, 12);
            position:relative;
            padding:0 0 1em;
            text-align:left;
          }
          .number{
            line-height:normal;
            display:block;
            font:{
              size:7em;//200px
            }
            @include at-breakpoint($tablet) {
              display:none;
            }
            @include at-breakpoint($phone) {
              display:none;
            }
          }
          .title{
            text-transform:uppercase;
            line-height:1.2em;
            font:{
              size:1.5em;//44px
            }
          }
          .description{
            @extend %text;
          }
          .wrap-more{
            background:url(../images/box/sep-title.jpg) right top no-repeat;
            padding-top:15px;
            margin-top:15px;
            @include at-breakpoint($tablet) {
              background-position:left top;
            }
            @include at-breakpoint($phone) {
              background-position:left top;
            }
            .more{
              visibility:hidden;
            }
          }
        }
        .close{
          @extend %close;
          right:inherit;
          left:15px;
        }
        .wrap-video{
          position:relative;
          @include span-columns(9 omega, 12);
          @include at-breakpoint($tablet) {
            @include span-columns(12, 12);
          }
          @include at-breakpoint($phone) {
            @include span-columns(12, 12);
          }
          > a.link-video{
            display:block;
            position:absolute;
            top:0;
            left:0;
            z-index:9;
            width:100%;
            .ico-video{
              visibility:hidden;
            }
          }
          &:before{
            content: "";
            display: block;
            padding-top: 72.9%;  /* initial ratio of 1:1*/
          }
          .placeholder{
            width:100%;
          }
          .video{
            position:absolute;
            top:0;
            left:0;
          }
        }
      }
    }
  }
}